SUPABASE_URL=
SUPABASE_KEY=
SUPERMEMORY_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-2
BEDROCK_MODEL_ID=anthropic.claude-3-5-haiku-20251001
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llava:7b-v1.6-mistral-q4_K_M
